@charset "UTF-8";
@font-face
{font-family:bebasneue;
src: url(fontes/BebasNeue-Regular.ttf);}
@font-face
{font-family:idroid;
src: url(fontes/idroid.otf);}

:root
{--cor0:#c5ebd6;
 --cor02:#83e1ad;
 --cor03:#3ddc84;
 --cor04:#2fa866;
 --cor05:#1a5c37;
 --cor06:#063d1e;

--fonte-padrao: arial, verdana, helvetica, sans-serif;
--fonte-destaque:'bebasneue', cursive;
--fonte-android:'idroid', cursive;}


*{margin:0; padding: 0;}


body
{background-color: #c5ebd6;
font-family:var(--fonte-padrao)}


header
{background-image: linear-gradient(to top, #063d1e 30%,#1a5c37 70%);
min-height: 150px;
text-align: center;
padding-top: 20px;}

header> h1
{color: white;
font-family: var(--fonte-destaque);
margin-top: 20px;
margin-bottom: 20px;
font-size: 3em;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
font-weight: normal;}

header> p
{color:white;
font-family: var(--fonte-padrao);
font-size: 1.2em;
padding: 0px 10px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
margin-bottom: 30px;}

nav
{background-color: #063d1e;
padding: 10px;
box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.473);}

nav> a
{text-decoration: none;
color: white;
padding: 10px;
font-weight: bold;
transition-duration: 0,5s;}

nav> a:hover
{background-color: #1a5c37; 
color: white;
border-radius: 10px;}

main
{background-color: white;
min-width: 300px;
max-width: 1000px;
margin: auto;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
margin-bottom: 30px;
border-radius:0px 0px 15px 15px}

.video
{background-color: #1a5c37;
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 57%;
position: relative;}

.video> iframe
{position: absolute;
top: 5%;
left: 5%;
height: 90%; width: 90%;
border-radius: 10px;}

main h1
{font-family: var(--fonte-android);
color:#1a5c37;}

main h2
{font-family: var(--fonte-android);
color: #1a5c37;
font-size: 1.3em;
background-image: linear-gradient(to right, #3cc479, transparent);
text-indent: 8px;}

main p
{margin: 15px 0px;
text-align: justify;
text-indent: 20px;
line-height: 2em;}

main img
{width: 100%;}

main strong
{font-weight: bold;
color: #1a5c37;}

main a
{text-decoration: none;
font-weight: bold;
padding: 3px 6px;
background-color: #83e1ad;
border-radius: 5px;
color:#1a5c37;}

main a:hover
{text-decoration:underline;}

.pequeno
{max-width: 350px;
display: block;
margin: auto;}

aside
{background-color: #83e1ad;
padding: 10px;
border-radius: 15px;
box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);}

aside ul
{list-style-position: inside;
list-style-type: '\2714\00A0';
columns: 2;
margin: 10px;}

aside h3
{background-color: #063d1e;
color: white;
margin: -10px;
padding: 8px;
border-radius: 10px 10px 0px 0px;
}

.externo::after
{content:  '\1F517';}


footer
{background-image: linear-gradient(to top, #063d1e 30%,#1a5c37 70%);
color: white;
text-align: center;
padding: 5px;
margin: auto;
height: 30px;}


footer a
{text-decoration: none;
color: white;
font-weight: bolder;}

footer a:hover
{text-decoration: underline;
color: #9febc1;}

footer p
{margin-top: 5px;}


article h2
{font-family: var(--fonte-android);}